/* Medium devices (landscape tablets, 768px and up) */
.posts-review {
  display: grid;
  grid-row-gap: 18px;
}

@media only screen and (min-width: 768px) {
  #menu-button,
  #close-button {
    display: none;
  }
  #navbar .nav {
    display: block;
  }
  #sidebar {
    display: none;
  }

  .detail-review,
  .menus,
  .card-list {
    grid-template-columns: 1fr 1fr;
  }

  .card-list .card-item {
    margin: 0 1rem 2rem;
  }

  .nav .nav-link {
    color: white;
  }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
  .detail-review,
  .card-list {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .container {
    max-width: 1200px;
    margin: auto;
  }

  .card-detail .card-thumbnail img {
    height: 500px;
  }

  .comment-review__content {
    padding: 30px;
  }

  .comment-item__avatar .img-avatar {
    width: 65px;
    height: 65px;
    margin-top: 0;
  }

  .comment-item__title h1 {
    font-size: 18px;
  }

  .comment-item__title p {
    font-size: 14px;
  }

  .comment-item__description {
    font-size: 16px;
  }

}
